//decrease the label width//
.custom-width{
  width: 70%;
}

.large-text{
  font-size: 4.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;

}

.small-text{
  font-size: 14px;
  text-align: center;
}
.login-form{
  margin-left: 22%;
}